.rc-md-editor {
  margin-left: 100px;
  height: calc(100% - 30px) !important;
}

.rc-md-editor .rc-md-navigation.visible {
  background-color: #879ac9;
}

.rmel-iconfont {
  color: white;
}

.rc-md-editor .rc-md-navigation .navigation-nav.right {
  visibility: hidden;
}

.button-action-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.button-with-icon.button-action-wrap.clubbed {
  position: unset;
}
